In [14]:
import pandas as pd
import numpy as np
import joblib
model= joblib.load(r'Models/model.pickle')
scaler= joblib.load(r'Scalers/scaler.pickle')

1. here importing some modules we are going to use along side our model which we saved.

In [15]:
'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
SepalLengthCm = input('SepalLengthCm')
SepalWidthCm = input('SepalWidthCm')
PetalLengthCm = input('PetalLengthCm')
PetalWidthCm = input('PetalWidthCm')

FLOWER= pd.DataFrame([{
    'SepalLengthCm': SepalLengthCm,
    'SepalWidthCm': SepalWidthCm,
    'PetalLengthCm': PetalLengthCm,
    'PetalWidthCm': PetalWidthCm
}])

2. taking input and creating a dataframe

In [16]:
FLOWER

  SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm
0             1            1             1            1

3. inputted data

In [17]:
columns = FLOWER[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
FLOWER[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'
              ]]

  SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm
0             1            1             1            1

4. just scaling the data inputted by loading our scalar.

In [18]:
prediction=model.predict(FLOWER)
prediction

c:\Users\PMLS\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

array([2])