In [24]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [25]:
data = pd.read_csv('Students_Records.csv', encoding='utf-8')
data.head()

     Name OverAllGrade Obedient  ResearchScore  ProjectScore Recommend
0   Ahmed            A        Y             90            85       Yes
1   Zahid            C        N             85            51       Yes
2   Amjad            F        N             10            17        No
3  Tamoor            B        Y             75            71        No
4  Zahoor            E        N             20            30        No

In [26]:
features = data[['OverAllGrade','Obedient','ProjectScore','ResearchScore']]
features

  OverAllGrade Obedient  ProjectScore  ResearchScore
0            A        Y            85             90
1            C        N            51             85
2            F        N            17             10
3            B        Y            71             75
4            E        N            30             20
5            A        Y            79             92
6            B        Y            59             60
7            C        Y            33             75

In [27]:
actualLabels = np.array(data['Recommend'])
print(actualLabels)

['Yes' 'Yes' 'No' 'No' 'No' 'Yes' 'No' 'No']

In [28]:
# Phase 4: Feature Engineering - Scaling (Numeric Values)
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(features[['ResearchScore','ProjectScore']])
features[['ResearchScore','ProjectScore']] = ss.transform(features[['ResearchScore','ProjectScore']])
features[['ResearchScore','ProjectScore']]

   ResearchScore  ProjectScore
0       0.899583      1.376650
1       0.730648     -0.091777
2      -1.803390     -1.560203
3       0.392776      0.772004
4      -1.465519     -0.998746
5       0.967158      1.117516
6      -0.114032      0.253735
7       0.392776     -0.869179

In [29]:
features = pd.get_dummies(features, 
                          columns=['OverAllGrade','Obedient'])
features

,ProjectScore,ResearchScore,OverAllGrade_A,OverAllGrade_B,OverAllGrade_C,OverAllGrade_E,OverAllGrade_F,Obedient_N,Obedient_Y
0,1.376650,0.899583,1,0,0,0,0,0,1
1,-0.091777,0.730648,0,0,1,0,0,1,0
2,-1.560203,-1.803390,0,0,0,0,1,1,0
3,0.772004,0.392776,0,1,0,0,0,0,1
4,-0.998746,-1.465519,0,0,0,1,0,1,0
5,1.117516,0.967158,1,0,0,0,0,0,1
6,0.253735,-0.114032,0,1,0,0,0,0,1
7,-0.869179,0.392776,0,0,1,0,0,0,1

In [32]:
# PHase 5: Modeling 
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

# Training / Learning of ML Method 

lr.fit(features, 
       actualLabels)

LogisticRegression()

In [33]:
predictedLabels = lr.predict(features)

In [34]:
predictedLabels

array(['Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No'], dtype=object)

In [35]:
actualLabels

array(['Yes', 'Yes', 'No', 'No', 'No', 'Yes', 'No', 'No'], dtype=object)

In [40]:
# Phase 6: Model Evaluation 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

acc_score = accuracy_score(actualLabels, predictedLabels)*100
print(f'Accuracy Score: {acc_score} %')

print('Classification Report:')
print(classification_report(actualLabels, predictedLabels))

Accuracy Score: 100.0 %
Classification Report:
              precision    recall  f1-score   support

          No       1.00      1.00      1.00         5
         Yes       1.00      1.00      1.00         3

    accuracy                           1.00         8
   macro avg       1.00      1.00      1.00         8
weighted avg       1.00      1.00      1.00         8

In [ ]:
# Phase 7: Deployment of ML Model
import joblib

if not os.path.exists('Models'):
    os.mkdir('Models')

if not os.path.exists('Scalers'):
    os.mkdir('Scalers')