In [15]:
import pandas as pd
import numpy as np
import joblib
model= joblib.load(r'Models/model.pickle')
scaler= joblib.load(r'Scalers/scaler.pickle')

In [16]:
Name=input('Name :')
OverAllGrade=input('OverAllGrade :')
Obedient=input('Obedient :')
ResearchScore=input('ResearchScore :')
ProjectScore=input('ProjectScore :')

NewStudentRecord=pd.DataFrame([{'name':Name,'overallgrade':OverAllGrade,'obedient':Obedient,'researchscore':ResearchScore,'projectscore':ProjectScore}])

In [17]:

NewFeatures=NewStudentRecord[['overallgrade','obedient','researchscore','projectscore']]
NewFeatures[['researchscore','projectscore']]=scaler.transform(NewFeatures[['researchscore','projectscore']])

C:\Users\SoNiC\AppData\Local\Temp\ipykernel_7352\2818239390.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewFeatures[['researchscore','projectscore']]=scaler.transform(NewFeatures[['researchscore','projectscore']])

In [18]:
NewFeatures=pd.get_dummies(NewFeatures,columns=['overallgrade','obedient'])

In [19]:
NewFeatures
RequiredCategoricalColumns=['overallgrade_A','overallgrade_B',"overallgrade_C","overallgrade_D",'obedient_Y','obedient_N']
RequiredCategoricalColumns

['overallgrade_A',
 'overallgrade_B',
 'overallgrade_C',
 'overallgrade_D',
 'obedient_Y',
 'obedient_N']

In [20]:
CurrentCategoricalColumns= set(NewFeatures.columns)-set(NewFeatures[['researchscore','projectscore']])
CurrentCategoricalColumns

{'obedient_Y', 'overallgrade_A'}

In [21]:
MissingCategoricalColumns=set(RequiredCategoricalColumns)-set(CurrentCategoricalColumns)
MissingCategoricalColumns

{'obedient_N', 'overallgrade_B', 'overallgrade_C', 'overallgrade_D'}

In [22]:
for features in MissingCategoricalColumns:
    NewFeatures[features]=0
NewFeatures

,researchscore,projectscore,overallgrade_A,obedient_Y,overallgrade_D,obedient_N,overallgrade_B,overallgrade_C
0,-2.354202,-3.784855,1,1,0,0,0,0

In [23]:
NewFeatures2 = NewFeatures.reindex(columns=["researchscore",	"projectscore",	"overallgrade_A",	"overallgrade_B","overallgrade_C","overallgrade_D"	,"obedient_N",	"obedient_Y"])

In [24]:
NewFeatures2

,researchscore,projectscore,overallgrade_A,overallgrade_B,overallgrade_C,overallgrade_D,obedient_N,obedient_Y
0,-2.354202,-3.784855,1,0,0,0,0,1

In [25]:
prediction=model.predict(NewFeatures2)
prediction

array(['no'], dtype=object)

In [26]:
NewStudentRecord['recommend']=prediction

In [27]:
NewStudentRecord

  name overallgrade obedient researchscore projectscore recommend
0    a            A        Y            56           56        no