In [1]:
import pandas as pd
import numpy as np
import joblib
model= joblib.load(r'Models/model.pickle')
scaler= joblib.load(r'Scalers/scaler.pickle')

In [2]:
Name=input('Name :')
OverAllGrade=input('OverAllGrade :')
Obedient=input('Obedient :')
ResearchScore=input('ResearchScore :')
ProjectScore=input('ProjectScore :')

NewStudentRecord=pd.DataFrame([{'name':Name,'overallgrade':OverAllGrade,'obedient':Obedient,'researchscore':ResearchScore,'projectscore':ProjectScore}])

In [3]:
NewStudentRecord

       name overallgrade obedient researchscore projectscore
0  abdullah            A        Y            49           90

In [4]:

NewFeatures=NewStudentRecord[['overallgrade','obedient','researchscore','projectscore']]
NewFeatures[['researchscore','projectscore']]=scaler.transform(NewFeatures[['researchscore','projectscore']])

C:\Users\SoNiC\AppData\Local\Temp\ipykernel_6552\2818239390.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewFeatures[['researchscore','projectscore']]=scaler.transform(NewFeatures[['researchscore','projectscore']])

In [5]:
NewFeatures=pd.get_dummies(NewFeatures,columns=['overallgrade','obedient'])

In [6]:
NewFeatures
RequiredCategoricalColumns=['overallgrade_A','overallgrade_B','overallgrade_C','overallgrade_E','overallgrade_F','obedient_Y','obedient_N']
RequiredCategoricalColumns

['overallgrade_A',
 'overallgrade_B',
 'overallgrade_C',
 'overallgrade_E',
 'overallgrade_F',
 'obedient_Y',
 'obedient_N']

In [7]:
CurrentCategoricalColumns= set(NewFeatures.columns)-set(NewFeatures[['researchscore','projectscore']])
CurrentCategoricalColumns

{'obedient_Y', 'overallgrade_A'}

In [8]:
MissingCategoricalColumns=set(RequiredCategoricalColumns)-set(CurrentCategoricalColumns)
MissingCategoricalColumns

{'obedient_N',
 'overallgrade_B',
 'overallgrade_C',
 'overallgrade_E',
 'overallgrade_F'}

In [9]:
for features in MissingCategoricalColumns:
    NewFeatures[features]=0
NewFeatures

,researchscore,projectscore,overallgrade_A,obedient_Y,obedient_N,overallgrade_B,overallgrade_E,overallgrade_F,overallgrade_C
0,-0.254686,2.194854,1,1,0,0,0,0,0

In [10]:
NewFeatures2 = NewFeatures.reindex(columns=["researchscore",	"projectscore",	"overallgrade_A",	"overallgrade_B",	"overallgrade_C",	"overallgrade_E",	"overallgrade_F",	"obedient_N",	"obedient_Y"])

In [11]:
NewFeatures2

,researchscore,projectscore,overallgrade_A,overallgrade_B,overallgrade_C,overallgrade_E,overallgrade_F,obedient_N,obedient_Y
0,-0.254686,2.194854,1,0,0,0,0,0,1

In [12]:
prediction=model.predict(NewFeatures2)
prediction

array(['No'], dtype=object)

In [13]:
NewStudentRecord['recommend']=prediction

In [14]:
NewStudentRecord

       name overallgrade obedient researchscore projectscore recommend
0  abdullah            A        Y            49           90        No