In [1]:
#Load Saved Model
import pandas as pd
import numpy as np
import joblib
model= joblib.load(r'Models/model.pickle')
scaler= joblib.load(r'Scalers/scaler.pickle')

In [2]:
#input
Name=input('Name :')
OverAllGrade=input('OverAllGrade :')
Obedient=input('Obedient :')
ResearchScore=input('ResearchScore :')
ProjectScore=input('ProjectScore :')

NewStudentRecord=pd.DataFrame([{'Name':Name,'OverAllGrade':OverAllGrade,'Obedient':Obedient,'ResearchScore':ResearchScore,'ProjectScore':ProjectScore}])

In [3]:
NewStudentRecord

  Name OverAllGrade Obedient ResearchScore ProjectScore
0  aaa            D        Y            90           90

In [4]:
#Features Engineering prior to predict b y the ML Model
#Scaling on Numeric values
NewFeatures=NewStudentRecord[['OverAllGrade','Obedient','ResearchScore','ProjectScore']]
NewFeatures[['ResearchScore','ProjectScore']]=scaler.transform(NewFeatures[['ResearchScore','ProjectScore']])

C:\Users\SoNiC\AppData\Local\Temp\ipykernel_1088\2676415065.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NewFeatures[['ResearchScore','ProjectScore']]=scaler.transform(NewFeatures[['ResearchScore','ProjectScore']])

In [5]:
#One hot Coding on Categorical Data
NewFeatures=pd.get_dummies(NewFeatures,columns=['OverAllGrade','Obedient'])

In [6]:
NewFeatures

   ResearchScore  ProjectScore  OverAllGrade_D  Obedient_Y
0       0.899583      1.592595               1           1

In [7]:
RequiredCategoricalColumns=['OverAllGrade_A','OverAllGrade_B','OverAllGrade_C','OverAllGrade_E','OverAllGrade_F','Obedient_Y','Obedient_N']
RequiredCategoricalColumns

['OverAllGrade_A',
 'OverAllGrade_B',
 'OverAllGrade_C',
 'OverAllGrade_E',
 'OverAllGrade_F',
 'Obedient_Y',
 'Obedient_N']

In [8]:
CurrentCategoricalColumns= set(NewFeatures.columns)-set(NewFeatures[['ResearchScore','ProjectScore']])
CurrentCategoricalColumns

{'Obedient_Y', 'OverAllGrade_D'}

In [9]:
MissingCategoricalColumns=set(RequiredCategoricalColumns)-set(CurrentCategoricalColumns)
MissingCategoricalColumns

{'Obedient_N',
 'OverAllGrade_A',
 'OverAllGrade_B',
 'OverAllGrade_C',
 'OverAllGrade_E',
 'OverAllGrade_F'}

In [10]:
for features in MissingCategoricalColumns:
    NewFeatures[features]=0
NewFeatures

,ResearchScore,ProjectScore,OverAllGrade_D,Obedient_Y,OverAllGrade_E,OverAllGrade_F,OverAllGrade_B,Obedient_N,OverAllGrade_C,OverAllGrade_A
0,0.899583,1.592595,1,1,0,0,0,0,0,0

In [11]:
NewFeatures2 = NewFeatures.reindex(columns=['ProjectScore','ResearchScore','OverAllGrade_A','OverAllGrade_B','OverAllGrade_C','OverAllGrade_E','OverAllGrade_F','Obedient_N','Obedient_Y'])

In [12]:
NewFeatures2

,ProjectScore,ResearchScore,OverAllGrade_A,OverAllGrade_B,OverAllGrade_C,OverAllGrade_E,OverAllGrade_F,Obedient_N,Obedient_Y
0,1.592595,0.899583,0,0,0,0,0,0,1

In [13]:
prediction=model.predict(NewFeatures2)
prediction

array(['Yes'], dtype=object)

In [14]:
NewStudentRecord['Recommend']=prediction

In [15]:
NewStudentRecord

  Name OverAllGrade Obedient ResearchScore ProjectScore Recommend
0  aaa            D        Y            90           90       Yes